#logo{
	border-radius: 50%;
	border:2px solid white;
	box-shadow: 0px 0px 5px grey;
	padding: 3px;
	transition: 1s;
}

#logo:hover{
	background-color: skyblue;
	transition: 1s;
}
.nav-link{
	color: #6c757d!important; 
}
#top-nav{
	box-shadow: 0px 5px 10px; 
}
.nav-link.active{
	background-color: white;
	border-bottom: 3px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	box-shadow: 0px 0px 5px grey;
}

/*section */

#jumbo-top{
	background-color: white;

}
#mobile{
	width: 100%;
	margin-top: -25px;
}
#code{
	background-color: white;
	border-radius: 50%;
	box-shadow: 0px 0px 10px black;
	width: 50px;
	height: 50px;
	font-size: 30px;
	padding-top: 10px;
	margin-bottom: 10px; 
}

.client-box{
		border-radius: 50%;
		width: 100px;
		height: 100px;
		box-shadow: 0px 0px 10px black;
		background-color: white;
		padding: 3px;
}
.client-icon{
	font-size: 20px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	padding-top: 7px;

}
.carousel-item p{
	color: grey;
}
.carousel-indicators li{
		width:20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid;
		box-shadow: 0px 0px 6px #e9ecef;
		background-color: #e9ecef;


}

.carousel-indicators{
		top: 300px;
}
#name{

	width: 90%;
}

#number{

	width: 90%;
}

#email{

	width: 90%;
}
.footer-social-icon{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	border-radius: 50%;
	border: 1px solid black;
	padding-top: 10px;
}